/**
 * I. Base Styles
 *
 * Styles generally for generic html elements. Classed or IDed
 * elements should typically be included in the Modules section.
 *
 * Table of Contents
 *
 * A. Typography
 * B. Tables
 * C. Forms
 * D. Search
 * E. Buttons
 * F. Hyphenation
 */

html{
	box-sizing: border-box;
}

*{
	box-sizing: inherit;
}

// For the following, I am taking pity on IE8- because I'm using
// the appropriate double-colon syntax for pseudo-elements. If I
// condensed this style declaration with the above *, IE8- would
// choke on the whole thing, breaking the border-box declaration
// for the universal selector.
*::before,
*::after{
	box-sizing: inherit;
}

body{
	// box model
	margin: 0;
	min-height: 100vh;
	// layout
	-webkit-align-items: center;
	        align-items: center;
	display: -webkit-flex;
	display:         flex;
	-webkit-flex-direction: column;
	        flex-direction: column;
	// backgrounds & borders
	background-color: hsl(0, 0%, 95%);
}

img,
svg{
	border-width: 0;
	height: auto;
	max-width: 100%;
}

/**
 * A. Typography
 */
@import "base/typography";

/**
 * C. Forms
 */
input{
	// box model
	border: 1px solid #bbcfd7;
	height: 1.719rem;
	margin-bottom: 1.262201279030629em; // 15/11.884
	padding: 0 .5em;
	// typography
	font-size: 1em;
	
	&[type="checkbox"]{
		// box model
		height: auto;
		margin: 0.25em 0.5em .5em 0;
		// layout
		float: left;
	}
}

select{
	// box model
	border: 1px solid $sky-blue;
	@include margin-default;
	padding: 0.30357142857143em .5em;  // 4.25/14 So, (4.25 * 2) + 14 = 22.5
	// typography
	@include base-type;
	text-shadow: 0 1px 0 $highlight;
	// backgrounds & borders
	background-color: mix(white, $sky-blue, 80%);  // IE 9
	border-radius: 2px;
	// misc
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	box-shadow: 0 .1em .1em $shadow inset;
	cursor: pointer;
	
	&:hover{
		// box model
		border-bottom-style: dashed;
		background-color: mix(white, $sky-blue, 90%);  // IE 9
	}
}

/**
 * E. Buttons
 */
@import "base/buttons";

/**
 * F. Hyphenation
 */
// For words that are so long they may cause overflow, like
// dichlorodiphenyltrichloroethane. Holy crap!
.looong-word{
    word-wrap: break-word;
}