/**
 * Element list is a generic container that is meant to house lists
 * of designed elements, i.e. not a bulleted text list. It is meant
 * to apply to uls and ols.
 */
.element-list{
	// box model
	margin-left: 0;
	padding-left: 0;
	// lists
	list-style-type: none;
}

.flc-screenNavigator-view-container{  // Like .site-content
	width: 100%;
}

.fl-screenNavigator-view{  // Like .content-wrapper
	// box model
	min-height: 100vh;
	// layout
	display: flex;
	flex-direction: column;
	
	@include breakpoint($rocket) {
		justify-content: center;
	}
}

#login{
	// box model
	border-top: 1em solid $forest;
	margin-bottom: 0.46875rem;  //7.5px
	// layout
	overflow: hidden;
	
	@include breakpoint($rocket) {
		// box model
		border-right: 1px solid $ui-border;
		border-bottom: 1px solid $ui-border;
		border-left: 1px solid $ui-border;
		margin: 0 auto;
		width: calc(100% - 4ch);
		max-width: 50ch;
		// decoration
		border-radius: 6px;
	}
	
	@include breakpoint($starlord) {
		padding: 1em 0 2em;
	}
	
	@include breakpoint($drax) {
		max-width: 75ch;
	}
}

#sidebar{
	margin: 0 auto;
	width: calc(100% - 4ch);
	max-width: 20em;
	
	@include breakpoint($rocket) {
		// box model
		margin: 0 auto;
		max-width: 40ch;
	}
}

.sidebar-content {
	@include base-type;  // Always use smaller type

	@include breakpoint($rocket) {
		// box model
		padding: 0 6px;  // Accounts for 6px border-radius
	}

	@include breakpoint($drax) {
		// box model
		padding: 0;  // Border-radius doesn’t matter at this size
	}
}

#footer{
	// layout
	overflow: hidden;
	// typography
	color: white;
	// decoration
	background-color: black;
}

#copyright{
	margin: 0 1em;
}