/**
 * Element list is a generic container that is meant to house lists
 * of designed elements, i.e. not a bulleted text list. It is meant
 * to apply to uls and ols.
 */
.element-list{
	// box model
	margin-left: 0;
	padding-left: 0;
	// lists
	list-style-type: none;
}

.flc-screenNavigator-view-container{  // Like .site-content
	width: 100%;
}

.fl-screenNavigator-view{  // Like .content-wrapper
	// box model
	min-height: 100vh;
	// layout
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#login{
	// box model
	border-top: 1em solid $evergreen-neue;
	margin-bottom: 0.46875rem;  //7.5px
	// layout
	overflow: hidden;
	
	@include breakpoint($rocket) {
		border-right: 1px solid mix(white, $blueberry-susan, 67%);
		border-bottom: 1px solid mix(white, $blueberry-susan, 67%);
		border-left: 1px solid mix(white, $blueberry-susan, 67%);
		margin: 0 auto;
		width: calc(100% - 4ch);
		max-width: 50ch;
	}
	
	@include breakpoint($starlord) {
		padding: 1em 0 2em;
	}
	
	@include breakpoint($drax) {
		max-width: 75ch;
	}
}

#sidebar{
	margin: 0 0.75em;
	
	@include breakpoint($rocket) {
		// box model
		margin: 0 auto;
		width: calc(100% - 4ch);
		max-width: 50ch;
	}
	
	@include breakpoint($gamora){
		// box model
		max-width: 44ch;
		// typography
		@include base-type;
	}
}

#footer{
	// layout
	overflow: hidden;
	// typography
	color: white;
	// backgrounds and borders
	background-color: black;
}

#copyright{
	margin: 0 1em;
}