.flc-screenNavigator-view-container{  // Like .site-content
	width: 100%;
}

.fl-screenNavigator-view{  // Like .content-wrapper
	// box model
	min-height: 100vh;
	// layout
	display: flex;
	flex-direction: column;
}

#content{  // Like .primary-content-wrapper
	// box model
	margin: 0 .25em;
	// layout
	flex-grow: 1;
	
	@media screen and (min-width: 70em){
		// box model
		margin: 0 auto 3.75rem auto;
		width: 100%;
		max-width: 82em;
		// layout
		align-items: flex-start;
		display: flex;
		flex-wrap: wrap;
	}
}

#login{
	// box model
	border: 1px solid mix(white, $blueberry-susan, 75%);
	margin: 0 auto;
	margin-bottom: 0.46875rem;  //7.5px
	padding: 0 1em;
	width: calc(100% - 1.5em);
	max-width: 25em;
	// layout
	overflow: hidden;
	// backgrounds & borders
	background-color: mix(white, $blueberry-susan, 85%);
	border-radius: 2px;
	
	@media screen and (min-width: 70em){
		margin-right: 0;
		margin-left: 14.285714285714%;
		width: 57.142857142857%;
		max-width: none;
	}
}

#sidebar{
	margin: 0 .75em;
	
	@media screen and (min-width: 22em){
		// box model
		margin: 0 1em;
	}
	
	@media screen and (min-width: 70em){
		// box model
		margin: 0;
		padding: 0 1.0625rem;  //17px
		width: 26.5714%;
		// typography
		@include base-type;
	}
}

#footer{
	// layout
	overflow: hidden;
	// typography
	color: white;
	// backgrounds and borders
	background-color: black;
}

#copyright{
	margin: 0 1em;
}