#header {
	// box model
	margin: 0.5em 0;
	// typography
	text-align: center;
	
	@include breakpoint($starlord) {
		margin-bottom: 1em;
	}
}

#header::before {
	// box model
	max-width: 16ch;
	// display
	display: block;
	// misc
	content: url("../images/Evergreen_SEC_RGB.svg");
	
	@include breakpoint($gamora) {
		content: url("../images/Evergreen_PRI_RGB.svg");
	}
}

#company-name {
	// box model
	/*margin: 0.5em auto;
	width: 100%;
	max-width: 16ch;*/
	// layout
	display: none;
	overflow: hidden;
	visibility: hidden;
	// typography
	color: transparent;
	line-height: 0;
	//text-align: center;
	white-space: nowrap;
		
	/*@include breakpoint($lil-groot) {
		width: 50%;
	}
	
	@include breakpoint($starlord) {
		margin-bottom: 1em;
	}
	
	&::before {
		// display
		display: block;
		// misc
		content: url("../images/Evergreen_SEC_RGB.svg");
		
		@include breakpoint($gamora) {
			content: url("../images/Evergreen_PRI_RGB.svg");
		}
	}*/
}

#app-name {  // “Central Authentication Service (CAS)”
	display: none;
}

.fm-v {
	// box model
	margin: 0 auto;
	width: calc(100% - 4ch);
	max-width: 20em;
	// layout
	display: flex;
	flex-direction: column;
}
		
.fm-v h2 {
	margin-top: 0.77990953049446em;  //15/19.233
}

#fm1 .check {
	display: none;
}

.fl-controls-left {
	// box model
	width: 100%;
}
	
.fl-controls-left input {
	// box model
	margin-bottom: 1.5em;
	padding: 0 1ch;
	min-height: 2em;
	width: 100%;
	// typography
	@include base-type-xl;
}

.fl-label {
	// box model
	margin-bottom: 0.25em;
	// layout
	display: block;
}

.check,  // “Warn me” checkbox
.btn-row {  // Row with “Submit” and “Clear” buttons
	margin: 0 auto;
	width: 100%;
}

.check {
	@include margin-default;
}

#warn,
[for="warn"] {
	display: none;
}

input.btn-reset{  // Hide the “Clear” button. It’s just better this way.
	display: none;
}

.errors,
.success,
.info {
	// box model
	margin: 0 auto;
	padding: 1.07142857em 2ch;  // 15/14
	width: 100%;
	// layout
	overflow: hidden;
	// typography
}

.errors {
	// box model
	border: 1px solid $wine;
	// layout
	align-items: flex-start;
	display: flex;
	// typography
	color: $wine;
	// decoration
	background-color: $highlight !important;
	border-radius: 6px;
	
	&::before {
		// box model
		border: 2px solid $wine;
		margin-right: 1ch;
		//margin-bottom: 0.5em;
		width: 2em;
		// layout
		flex: 0 0 2em;
		// typography
	  font-size: 1.202rem;  //19.232px  Step 2
	  font-weight:bold;
	  line-height: 1.55990016638935;  //30/19.232
	  text-align: center;
	  // decoration
	  border-radius: 50%;
		// misc
		content: "!";
	}
}

.success,
.info {
	// decoration
	background-color: transparentize(mix(white, $sky-blue, 80%), .05) !important;
	background-image: url("/cas/images/texture-1.png");
	
	@include breakpoint($rocket) {
		border-radius: 6px;
	}
}

.info {
	
	@include breakpoint($rocket) {
		// box model
		margin: 0 auto 1.07142857142857em;  // 15px
		width: calc(100% - 4ch);
		//max-width: 25em;
	}
	
	@include breakpoint($drax) {
		margin-bottom: 1.76470588235294em;  // 30px
		max-width: 75ch;
	}
}

.info > h2 {
	// box model
	margin-top: 0;
	// typography
	color: mix($black, $sky-blue, 40%);
	font-weight: bold;
}
	
.info strong {
	font-weight: normal;
}

.sidebar-content h2 {
	// box model
	@include margin-default;
	// typography
	@include base-type;
	
  @include breakpoint($drax) {
	  margin-top: 0.77991em;
  }
}

.help-list {

	@include breakpoint($starlord) {
		display: flex;
		justify-content: space-between;
	}
}

.help-list__item {
	// box model
	margin: 0.535714285714286em 0 1.071428571428571em 0;  // This should just match the p margin
	// layout
	display: block;
	
	/*&:first-child {
		margin-right: 2ch;
	}*/
}

#list-languages {
	display: none;
}

#footer {
	display: none;
}

#jasig {
	display: none;
}