#company-name{
	// box model
	margin-top: 0.25em;
	padding: 0 .25em;
	width: 100%;
	// layout
	display: block;
	overflow: hidden;
	// typography
	color: transparent;
	line-height: 0;
	white-space: nowrap;
		
	@include breakpoint($lil-groot){
		width: 75%;
	}

	@include breakpoint($rocket){
		width: 66%;
	}

	@media screen and (min-width: 30em){
		width: 50%;
	}
	
	@include breakpoint($starlord){
		width: 33%;
	}
	
	/*@include breakpoint($gamora){
		width: 33%;
	}*/

	@media screen and (min-width: 55em){
		width: 25%;
	}
	
	/*@include breakpoint($drax){
		width: 25%;
	}*/

	@media screen and (min-width: 85em){
		width: 20%;
	}

	@media screen and (min-width: 100em){
		width: 15%;
	}
	
	&::before{
		// display
		display: block;
		// misc
		content: url("/cas/images/evergreen-wide-tree.svg");
	}
}

#app-name{
	// box model
	//border-top: 11px solid $evergreen-neue;
	margin-top: 0;
	margin-bottom: 0.9375rem; // 15/16
	padding: 0 0.44991917523388em;  // 14px (base font-size) / 31.1167 (h1 font-size)
	//padding-top: 0.9375rem;  // 15/16
	// typography
	color: white;
	//font-size: 1.719rem;  //27.506px  Step 3
	font-weight: normal;
	//line-height: 1.09067112629972;
	text-align: center;
	// backgrounds & borders
	background-color: $evergreen-neue;
	
	@media screen and (min-width: 22em){
		//font-size: 1.945rem;  //31.112px
		//line-height: 1.44638724607868;  //45/31.112
	}
	
	@media screen and (min-width: 32em){
		padding-right: 0.4637712789175em;  // 17px (base font-size) / 36.656 (h1 font-size)
		padding-left: 0.4637712789175em;  // 17px (base font-size) / 36.656 (h1 font-size)
		//typography
		//font-size: 2.291rem;  //36.656px
		//line-height: 1.227629855958097;  //45/36.656
	}
    
	/*@media screen and (min-width: 43em){
		//typography
		font-size: 2.782rem;  //44.512px  Step 5
		line-height: 1.010963335729691;  //45/44.5167
	}
	
	@media screen and (min-width: 70em){
		//typography
		font-size: 3.146rem;  //50.336  Step 6
		line-height: 1.19198982835346;  //60/50.336
	}*/
	
	// Height-based media-queries
	@media screen and (min-height: 35em){
		//border-top-width: 22px;
		margin-bottom:  1.875rem; // 30/16
		//padding-top: 1.875rem;   // 30/16
	}
	
	@media screen and (min-height: 40em){
		//border-top-width: 44px;
	}
}

.fm-v{
		// box model
		margin: 0 auto;
		// layout
		display: flex;
		flex-direction: column;
	width: calc(100% - 4ch);
	max-width: 20em;
		
		h2{
			margin-top: 0.77990953049446em;  //15/19.233
			
			@media screen and (min-height: 35em){
				//margin-top: 1.55981906098893em;
			}
		}
}

.fl-controls-left{
	// box model
	width: 100%;
	// layout
	//display: flex;
	//flex-direction: row;
	
	label{
		margin-right: .5em;
	}
	
	input{
		width: 66%;
	}
}

.check,  // “Warn me” checkbox
.btn-row{  // Row with “Submit” and “Clear” buttons
	margin: 0 auto;
	width: 100%;
}

.check{
	@include margin-default;
}

input.btn-reset{  // Hide the “Clear” button. It’s just better this way.
	display: none;
}

.errors,
.success,
.info{
	// box model
	margin: 0 auto;
	padding: 0.46875rem 2ch;  // 7.5/16
	width: 100%;
	max-width: 50ch;
	// layout
	overflow: hidden;
	// typography
}

.errors{
	// typography
	color: $wine;
	// backgrounds & borders
	background-color: $highlight !important;
	background-image: url("/cas/images/texture-1.png");
	
	&::before{
		// box model
		border: 2px solid $wine;
		margin-left: 1em;
		margin-bottom: .5em;
		width: 2em;
		// layout
		float: right;
		// typography
	  font-size: 1.202rem;  //19.232px  Step 2
	  font-weight:bold;
	  line-height: 1.55990016638935;  //30/19.232
	  text-align: center;
	  // backgrounds & borders
	  border-radius: 50%;
		// misc
		content: "!";
	}
}

.success,
.info{
	//backgrounds & borders
	border-radius: 2px;
	background-color: transparentize(mix(white, $sky-blue, 80%), .05) !important;
	background-image: url("/cas/images/texture-1.png");
}

.info{
	margin: 0 .75em;
	
	@include breakpoint($rocket){
		// box model
		margin: 0 auto 1.07142857142857em;  // 15px
		width: calc(100% - 1.5em);
		//max-width: 25em;
	}
	
	@include breakpoint($starlord){
		// box model
		margin-right: auto;
		margin-left: auto;
		//width: 32em;
		max-width: calc(100% - 2em);
	}
	
	@include breakpoint($drax){
		// box model
		margin-right: 0;
		margin-bottom: 1.76470588235294em;  // 30px
		margin-left: 14.285714285714%;
		width: 57.142857142857%;
		max-width: none;
	}
	
	> h2{
		// box model
		margin-top: 0;
		// typography
		font-weight: bold;
	}
	
	strong{
		font-weight: normal;
	}
}

.sidebar-content{
	
	h2{
	  
	  @include breakpoint($drax){
		  margin-top: 0.77991em;
	  }
	}
}

#list-languages{
	
	ul{
		// box model
		margin-left: 0;
		padding-left: 0;
		// list
		list-style-type: none;
	}
}

#footer a,
#footer a:link,
#footer a:visited{
	border-color: mix(black, $evergreen-neue, 40%);
	color: $evergreen-neue;
}
#footer a:hover{
	border-color: $sky-blue;
    color: $sky-blue;
}

#jasig{
	display: none;
}

#copyright{
	@include small-type;
}