/**
 * Buttons
 *
 * @section button
 *
 * (Note: Built-in Drupal forms require "input[type='submit']"
 * instead of button.)
 */
button,
input[type="submit"],
input[type="reset"]{
	// box model
	border: 1px solid $sky-blue;
	height: auto;
	margin-bottom: 1.262201279030629em;  // 15/11.884
	padding: 5px 0.5em;
	// layout
	display: inline-block;
	// typography
	color: #333333;
	font-family: $display-face;
	font-size: 1em;
	font-weight: normal;
	text-shadow: 0 1px 0 $highlight;
	// decoration
	background-image: linear-gradient(mix($morning-light, $sky-blue, 80%), mix(white, $sky-blue, 40%));
	border-radius: 0.2em;
	// miscelaneous
	box-shadow: 0 0.2em 0.2em $shadow;
}
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover{
	color: mix(black, $sky-blue, 40%);
	// decoration
	background-image: linear-gradient(mix($morning-light, $sky-blue, 80%), mix(white, $sky-blue, 60%));
}
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus{
	border-color: #999;
	outline-width: 0;
}
button:active,
input[type="submit"]:active,
input[type="reset"]:active{
	// decoration
	background-image: linear-gradient(mix(white, $sky-blue, 40%), mix($morning-light, $sky-blue, 60%));
	// miscelaneous
	box-shadow: inset 0 .1em .2em hsla(0,0%,0%,.25);
}

/**
 * Primary Action Button
 *
 * The primary action button is meant to be the single default
 * action that a user will expect to take. E.g., Submit would be
 * the .prime button while Cancel would be the default button.
 */
input.btn-submit{
	// box model
	border-color: $forest;
	padding: 1em;
	width: 100%;
	// typography
	color: white;
	text-shadow: 0 -1px 0 $shadow;
	// decoration
	background-image: linear-gradient(
		mix($rubber-geoducky-light, $forest, 33%),
		$forest 33%,
		$forest 67%,
		mix($oregon-grape-dark, $forest, 33%)
	);
}

input.btn-submit:hover{
	// box model
	border-bottom-color: $evergreen-old-style;
	// typography
	color: $evergreen-old-style;
	text-shadow: 0 1px 0 $highlight;
	// decoration
	background-image: linear-gradient(mix($morning-light, $evergreen-neue, 60%), mix(white, $evergreen-neue, 20%));
}

input.btn-submit:focus{
	border-color: #999;
}

input.btn-submit:active{
	// decoration
	background-image: linear-gradient($evergreen-neue, mix($morning-light, $evergreen-neue, 20%));
}

/**
 * Overrides
 */
[value="LOGIN"] {
	letter-spacing: 0.2ch;
}

.fl-controls-left input.btn-submit{  // Overrides Login button on the second page of the two-factor auth screen.
	// box model
	padding: 5px 0.5em;
	width: auto;
	min-width: 0;
}