/**
 * Buttons
 *
 * @section button
 *
 * (Note: Built-in Drupal forms require "input[type='submit']"
 * instead of button.)
 */
button,
input[type="submit"],
input[type="reset"]{
	//box model
	border: 1px solid $sky-blue;
	height: auto;
	margin-bottom: 1.262201279030629em;  // 15/11.884
	padding: 5px .5em;
	//layout
	display: inline-block;
	//typography
	color: #333333;
	font-family: $display-face;
	font-size: 1em;
	font-weight: normal;
	//line-height:  1.32352941176471;  // 22.5/17
	text-shadow: 0 1px 0 $highlight;
	//backgrounds & borders
	background-color: mix(white, $sky-blue, 60%);  // IE 9
	background-image: linear-gradient(mix($morning-light, $sky-blue, 80%), mix(white, $sky-blue, 40%));
	border-radius: .2em;
	//miscelaneous
	box-shadow: 0 .2em .2em $shadow;
}
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover{
	color: mix(black, $sky-blue, 40%);
	//backgrounds & borders
	background-color: mix(white, $sky-blue, 80%);  // IE 9
	background-image: linear-gradient(mix($morning-light, $sky-blue, 80%), mix(white, $sky-blue, 60%));
}
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus{
	border-color:#999;
	outline-width:0;
}
button:active,
input[type="submit"]:active,
input[type="reset"]:active{
	//backgrounds & borders
	background-color: mix(white, $sky-blue, 40%);  //IE 9
	background-image: linear-gradient(mix(white, $sky-blue, 40%), mix($morning-light, $sky-blue, 60%));
	//miscelaneous
	box-shadow: inset 0 .1em .2em hsla(0,0%,0%,.25);
}

/**
 * Primary Action Button
 *
 * The primary action button is meant to be the single default
 * action that a user will expect to take. E.g., Submit would be
 * the .prime button while Cancel would be the default button.
 */
input.btn-submit{
	//box model
	border-color: $evergreen-old-style;
	//typography
	color: white;
	text-shadow: 0 -1px 0 $shadow;
	//backgrounds & borders
	background-color: $evergreen-neue;  //IE 9
	background-image: linear-gradient(mix($morning-light, $evergreen-neue, 40%), $evergreen-neue);
}
input.btn-submit:hover{
	//box model
	border-bottom-color: $evergreen-old-style;
	//typography
	color: $evergreen-old-style;
	text-shadow: 0 1px 0 $highlight;
	//backgrounds & borders
	background-color: mix(white, $evergreen-neue, 20%);  //IE 9
	background-image: linear-gradient(mix($morning-light, $evergreen-neue, 60%), mix(white, $evergreen-neue, 20%));
}
input.btn-submit:focus{
	border-color: #999;
}
input.btn-submit:active{
	//backgrounds & borders
	background-color: mix(white, $evergreen-neue, 40%);  //IE 9
	background-image: linear-gradient($evergreen-neue, mix($morning-light, $evergreen-neue, 20%));
}

/**
 * Overrides
 */
.fl-controls-left input.btn-submit{  // Overrides Login button on the second page of the two-factor auth screen.
	// box model
	width: auto;
	min-width: 0;
}