<!DOCTYPE html>
<html>
<head>
	<title>Lost Password: CAS - Central Authentication Service</title>
	<meta charset="utf-8"/>
	<!--<link rel="stylesheet" href="css/simple.css" media="all"/>-->
	<link href="../styles.css" media="all" rel="stylesheet"/>
	<link rel="icon" type="image/png" href="/favicon.png" />
</head>
<body id="cas" class="fl-theme-iphone">
	<div class="flc-screenNavigator-view-container">
		<div class="fl-screenNavigator-view">
			<div id="header" class="flc-screenNavigator-navbar fl-navbar fl-table">
				<h1 id="company-name">The Evergreen State College</h1>
				<h1 id="app-name" class="fl-table-cell">Central Authentication Service (CAS)</h1>
			</div>
			<div id="content" class="fl-screenNavigator-scroll-container">	
				<div class="box fl-panel" id="login">
	
	
					<main class="fm-v">
						<div id="content">
							
							<header>
								<h2>Reset Your Password</h2>
							</header>
							<div class="errors">
								<p>
									<%= message %>
								</p>
							</div><!-- /.message -->
							
							<form action="index.jsp" method="post">
								<h3>Step 1 of 3: Identify yourself</h3>
								<input type="hidden" name ="disID" value="displayID"/>
								<ul class="element-list">
									<li>
										<label for="uname">User name:</label>
										<input type="text" id="uname" name="uname"/>
									</li>
									<li>
										<label for="sid">Student ID:</label>
										<input type="text" id="sid" name="sid"/>
									</li>
								</ul>
								<label>
									<input class="prime" name="stuID" type="submit" value="Next"/>
								</label>
								<hr/>
									
								<h3>Step 2 of 3: Answer your secret question</h3>
								<input type="hidden" name ="disQuestion" value="displayQuestion"/>
								<ul class="element-list">
									<li>
										Question:
										<%= loginBean.getQuestion()%>?
									</li>
									<li>
										<label for="answer">Answer:</label>
										<input type="text" id="answer" name="answer"/>
									</li>
								</ul>
								<input class="prime" name="pAnswer" type="submit" value="Next">
								<hr/>
								
								<h3>Last step: Choose a new password</h3>
								<input type="hidden" name ="disPassword" value="displayPassword"/>
								<ul class="element-list">
									<li>
										<label for="password1">Choose your new password:</label>
										<input type="password" id="password1" name="password1"/>
									</li>
									<li>
										<label for="password2">Write your password again:</label>
										<input type="password" id="password2" name="password2"/>
									</li>
								</ul>
								<input class="prime" name="getPassword" type="submit" value="Finish"/>
								<hr/>
								
								<h3>Success</h3>
								<p>
									Your password was reset. Try
									<a href="http://cas.evergreen.edu">logging in</a> again.
								</p>
								<hr/>
								
								<h3>Error</h3>
								<p>Very sorry, but something isn’t right. Please contact Student Support at the Computer Center and they will help you out: (360)&nbsp;867-6231.</p>
							</form>
						  
						</div><!-- /.content -->
					</main><!-- /.fm-v -->
					
					
				</div><!-- /.box.fl-panel -->
				<div id="sidebar">
				  <div class="sidebar-content">
				    <h2>Still Having Trouble?</h2>
				    <p>
							Visit
							<a href="http://help.evergreen.edu">Evergreen Technology Help</a> where you can request help, search the Help Wiki IT knowledgebase, or give us a call.
						</p>
				   </div><!-- /.sidebar-content -->
				</div><!-- /.sidebar -->
			</div><!-- /#content.fl-screenNavigator-scroll-container -->
			<div id="footer" class="fl-panel fl-note fl-bevel-white fl-font-size-80">
				<div id="copyright">
					<p><small>&copy; 2015, The Evergreen State College.</small></p>
				</div><!-- /.copyright -->
			</div><!-- /#footer.fl-panel.fl-note.fl-bevel-white.fl-font-size-80  -->
		</div><!-- /.fl-screenNavigator-view -->
	</div><!-- /.flc-screenNavigator-view-container -->
</body>
</html>